<ul>
  <li class="dropdown">
    <div class="dropdownMenu">Menu<div class="caret"></div></div>
    <ul class="dropdownList">
      <li><p>Plains</p></li>
      <li><a name="Map" href="./map">Map</a></li>
      <li><a name="Fishing Data" href="./fish">Fishing Data</a></li>
      <li><a name="How to Fish" href="./howtofish">How to Fish</a></li>
      <li><p>Projects</p></li>
      <li><a name="Drops" rel="noopener" target="_blank" href="//drops.warframestat.us">Drops</a></li>
      <li><a name="Genesis" rel="noopener" target="_blank" href="//genesis.warframestat.us">Genesis</a></li>
      <li><a name="API Documentation" rel="noopener" target="_blank" href="//docs.warframestat.us">API Docs</a></li>
      <li><a name="Status" rel="noopener" target="_blank" href="//warframestat.us">Status</a></li>
    </ul>
  </li>
</ul>

<!-- Notification filters Modal -->
<!--<div class="modal fade" id="notif-filters" tabindex="-1" role="dialog" aria-labelledby="notificationFilterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Notification Filters</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to an item below will enable delivery of notifications for alerts or invasions with the corresponding item.
				<ul class="filter-list">
				  {{#each trackables.rewardTypes}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_filter_checkbox" class="notif-filter-check" data-notif="{{@key}}">
							<label for="{{@key}}_filter_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
				<hr />
				Checking the checkbox next to an event below will enable delivery of notifications the corresponding events.
				<ul class="filter-list">
				  {{#each trackables.eventTypes}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_filter_checkbox" class="notif-filter-check" data-notif="{{@key}}">
							<label for="{{@key}}_filter_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>-->

<!-- Fissures filters Modal -->
<!--<div class="modal fade" id="fissure-filters" tabindex="-1" role="dialog" aria-labelledby="fissureFilterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Fissures Planets Filters</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to a planet below will disable it from being shown in the fissures list.
				<ul>
				  {{#each planets}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_fissure_checkbox" class="fissure-filter-check" data-fissure="{{@key}}">
							<label for="{{@key}}_fissure_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>-->

<!-- Sound Options Modal -->
<!--<div class="modal fade" id="sound-options" tabindex="-1" role="dialog" aria-labelledby="soundOptionLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Sound Options</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to an option will allow a sound to be played for those new items.
				<ul>
				  <li class="text-left" id="option_sound_cetus_night">
						<div class="checkbox">
							<input type="checkbox" id="sound_cetus_night_checkbox" class="sound-option-check" data-sound="sound_cetus_night">
							<label for="sound_cetus_night_checkbox">Eidolon Roar to Start the Night</label>
						</div>
					</li>
					<li class="text-left" id="option_sound_alert">
						<div class="checkbox">
							<input type="checkbox" id="sound_alert_checkbox" class="sound-option-check" data-sound="sound_alert">
							<label for="sound_alert_checkbox">Alert Tone</label>
						</div>
					</li>
					<li class="text-left" id="option_sound_invasion">
						<div class="checkbox">
							<input type="checkbox" id="sound_invasion_checkbox" class="sound-option-check" data-sound="sound_invasion">
							<label for="sound_invasion_checkbox">Invasion Tone</label>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>-->
