<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a name="Home" href="/" class="navbar-brand">Warframe Hub</a>
			<button name="Navigation Bar" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main" aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li><a name="Timers" href="./timer">Timers</a></li>
				<li class="dropdown">
					<a name="Plains Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Plains <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a name="Map" href="./map">Map</a></li>
						<li><a name="Fishing Data" href="./fish">Fishing Data</a></li>
						<li><a name="How to Fish" href="./howtofish">How to Fish</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a name="Projects Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a name="Drops" rel="noopener" target="_blank" href="https://drops.warframestat.us">Drops</a></li>
						<li><a name="Genesis" rel="noopener" target="_blank" href="https://genesis.warframestat.us">Genesis</a></li>
						<li><a name="API Documentation" rel="noopener" target="_blank" href="https://docs.warframestat.us">API Docs</a></li>
						<li><a name="Status" rel="noopener" target="_blank" href="https://warframestat.us">Status</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="navbar-right">
				<li class="dropdown component-selector hide" id="component-selector">
					<a name="Component Selection" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="component-selection">Components <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
            {{#each components}}
            <li class="text-left" id="option_{{this.key}}">
							<div class="checkbox">
								<input type="checkbox" id="{{this.key}}_checkbox" class="component-check" data-component="{{this.key}}">
								<label for="{{this.key}}_checkbox">{{this.display}}</label>
							</div>
						</li>
						{{/each}}
					</ul>
				</li>
				<li class="dropdown theme-picker">
					<a name="Theme Selection" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Theme <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center" id="theme_night">
							<a name="Nightmode" href="#" id="nightmode">
								<img class="cc-img inv" src="img/themes/night/icon.png">
								<span>Night Mode</span>
							</a>
						</li>
						<li class="text-center" id="theme_retro">
							<a name="Retro" href="#" id="retro">
								<img class="cc-img inv" src="img/themes/retro/icon.png">
								<span>Retro Mode</span>
							</a>
						</li>
						<li class="text-center" id="theme_eidolon">
							<a name="Eidolon" href="#" id="eidolon">
								<img class="cc-img inv" src="img/themes/eidolon/icon.png">
								<span>Eidolon</span>
							</a>
						</li>
						<li class="text-center" id="theme_none">
							<a name="No Theme" href="#" id="no-theme">
								<span>No Theme</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="dropdown platform-picker hide">
					<a name="Platform Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Platform <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center" data-platform="pc">
							<a name="PC Platform" href="#">
								<img class="inv" src="img/platforms/pc.svg" onerror="this.onerror=null; this.src='img/platform_icon/pc.png'" />
								<span>PC</span>
							</a>
						</li>
						<li class="text-center" data-platform="ps4">
							<a name="PS4 Platform" href="#">
								<img class="inv" src="img/platforms/ps4.svg" onerror="this.onerror=null; this.src='img/platform_icon/ps4.png'" />
								<span>PS4</span>
							</a>
						</li>
						<li class="text-center" data-platform="xb1">
							<a name="XB1 Platform" href="#">
								<img class="inv" src="img/platforms/xbox.svg" onerror="this.onerror=null; this.src='img/platform_icon/xbox.png'" />
								<span>XBox One</span>
							</a>
						</li>
					</ul>
				</li>

			  <li class="dropdown filters-picker" id="filters-picker">
					<a name="Filters Navigation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Filters <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="text-center"><a name="Notification Filters" href="#notif-filters" data-toggle="modal" style="outline:none;" id="notif-anchor">Notification Filters</a></li>
						<li class="text-center"><a name="Fissures Filters" href="#fissure-filters" data-toggle="modal" style="outline:none;">Fissure Filters</a></li>
						<li class="text-center"><a name="Sounds" href="#sound-options" data-toggle="modal" style="outline:none;">Sounds</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Notification filters Modal -->
<div class="modal fade" id="notif-filters" tabindex="-1" role="dialog" aria-labelledby="notificationFilterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Notification Filters</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to an item below will enable delivery of notifications for alerts or invasions with the corresponding item.
				<ul class="filter-list">
				  {{#each trackables.rewardTypes}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_filter_checkbox" class="notif-filter-check" data-notif="{{@key}}">
							<label for="{{@key}}_filter_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
				<hr />
				Checking the checkbox next to an event below will enable delivery of notifications the corresponding events.
				<ul class="filter-list">
				  {{#each trackables.eventTypes}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_filter_checkbox" class="notif-filter-check" data-notif="{{@key}}">
							<label for="{{@key}}_filter_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Fissures filters Modal -->
<div class="modal fade" id="fissure-filters" tabindex="-1" role="dialog" aria-labelledby="fissureFilterLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Fissures Planets Filters</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to a planet below will disable it from being shown in the fissures list.
				<ul>
				  {{#each planets}}
				  <li class="text-left" id="option_{{@key}}">
						<div class="checkbox">
							<input type="checkbox" id="{{@key}}_fissure_checkbox" class="fissure-filter-check" data-fissure="{{@key}}">
							<label for="{{@key}}_fissure_checkbox">{{this}}</label>
						</div>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Sound Options Modal -->
<div class="modal fade" id="sound-options" tabindex="-1" role="dialog" aria-labelledby="soundOptionLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button name="Dismiss Modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Sound Options</h4>
			</div>
			<div class="modal-body">
			  Checking the checkbox next to an option will allow a sound to be played for those new items.
				<ul>
				  <li class="text-left" id="option_sound_cetus_night">
						<div class="checkbox">
							<input type="checkbox" id="sound_cetus_night_checkbox" class="sound-option-check" data-sound="sound_cetus_night">
							<label for="sound_cetus_night_checkbox">Eidolon Roar to Start the Night</label>
						</div>
					</li>
					<li class="text-left" id="option_sound_alert">
						<div class="checkbox">
							<input type="checkbox" id="sound_alert_checkbox" class="sound-option-check" data-sound="sound_alert">
							<label for="sound_alert_checkbox">Alert Tone</label>
						</div>
					</li>
					<li class="text-left" id="option_sound_invasion">
						<div class="checkbox">
							<input type="checkbox" id="sound_invasion_checkbox" class="sound-option-check" data-sound="sound_invasion">
							<label for="sound_invasion_checkbox">Invasion Tone</label>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button name="Dismiss Modal" type="button" class="btn btn-secondary" data-dismiss="modal" style="cursor:pointer;">Close</button>
			</div>
		</div>
	</div>
</div>
